.button {
	display: inline-flex;
	border-radius: 0.5rem;
	border: 0;
	font-family: sans-serif;
	line-height: 1;
	padding:0.75rem 1.25rem;
	font-weight: bold;
	cursor: pointer;
	color:var(--black-coral);
}
.button--primary {
	background-color: var(--melon);
}
.button--primary:hover {
	background-color: var(--aero-blue);
}
.button--secondary {
	background-color: var(--aero-blue);
}
.button--ghost {
	border: 1px solid var(--black-coral);
	background-color: transparent;
}
.button--ghost:hover {
	background-color: var(--black-coral);
	color:var(--eggshell);
}
